<h2>Log In</h2>


<form class="pure-form pure-form-stacked" method="post" action="/register">
    <fieldset>


        <label for="email">Email</label>
        <input id="email" name="user[email]" type="text" class="form-control" id="email" placeholder="email">




        <label for="password">Password</label>
        <input id="password" type="password" name="user[password]" placeholder="Password">


        <button type="submit" class="pure-button pure-button-primary">Log in</button>
    </fieldset>
</form>