<h1><%= @recipe.name %></h1>



<h3><%= @recipe.users.count %></h3>

<% if current_user.can_vote?(@recipe) && !is_chef? %>
  <form id="like-button" method="post" action="/recipes/<%= @recipe.id%>/like">
    <button type="submit" class="pure-button">Star</button>
  </form>
<% end %>
