@font-face {
  font-family: "customFont";
  src: url("/images/fonts/RNS-B.ttf");
}

body {
  background-color: #CDD5D1;
}

h1 {
  color: #333333;
  font-weight: 200;
  margin-left: 5%
}

h2 {
  color: #333333;
  font-weight: 200;
}

h3 {
  color: #333333;
  font-weight: 200;
}

h4 {
  font-weight: bold;
  font-size: 25px;
}


nav {
  background-color: #546A76;
  .logo {
    font-family: "customFont", RNS-B;
    font-size: 30px;
      span {
        color: #2BDE73;
      }
  }
}


a.pure-menu-link:hover {
  background-color: lighten(#546A76, 10%);
  height: 100%;
}


.pure-menu-link {
    color: #07DE2A;
}

div.black {
  background-color: blue;
}

div.white {
  background-color: green;
}

.recipes {
  width: 960px;
  margin: 100px auto;
  text-align: center;
}

.pure-menu-list {
  width: 100%;
}

.pure-menu-allow-hover {
  float: right;
  margin-top: 17px;
  margin-right: 9px;
}

.button-warning {
  background: rgb(223, 117, 20);
  border-radius: 14px;
}

.button-row {
  margin-top: 100px;
  text-align: center;
}

.login {
  margin-top: 150px;
}

.homeChallenge {
  background-color: red;
  border-radius: 14px;
}

.button-secondary {
  margin-top: 10px;
  background-color: #2BDE73;
  border-radius: 60px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  h2 {
    color: #333333;
    font-weight: 200;

  }
  p {
    color: #333333;
    font-weight: 200;
  }
}

.challengehome {
  margin-top: 150px;
}

.rules {
  margin-top: 50px;
  font-weight: 100;
  .black {
    background-color: darken(#CDD5D1, 10%);
    border-radius: 14px;
    h2 {
      text-align: center;
      font-weight: 300;
    }
    p {
      padding: 0 8px;
    }
 }
}

.picture {
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 40%;
}


.recipe_pic {
  height: 50vh;
  background-repeat: no-repeat;
  background-size: contain;
}

div {
  p  {
    font-weight: 100;
  }
}

.picture-show {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

div.pure-g {
  div {
    text-align: center;
    margin-top: 10px;
    a {
      min-width: 100%;
      max-width: 100%;
    }
  }
}

button {
  min-width: 100%;
}

.star-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}