body {
  background-color: red;
}

div.black {
  background-color: blue;
}

div.white {
  background-color: green;
}

//   div {
//     div{

//       border: 1px solid black;
  
//       .black {
//         background-color: black;
    
//       }
      
//       .white {
//         background-color: white;
//       }
//     }
//   }
// }