@font-face {
  font-family: "customFont";
  src: url("/images/fonts/RNS-B.ttf");
}

body {
  background-color: #F7FAFA;
}

nav {
  background-color: #7F7FBE;
  .logo {
    font-family: "customFont", RNS-B;
    font-size: 30px;
      span {
        color: #2BDE73;
      }
  }
}


.pure-menu-link {
    color: #2BDE73;
}

div.black {
  background-color: blue;
}

div.white {
  background-color: green;
}

.recipes {
  width: 960px;
  margin: 100px auto;
  text-align: center;
}

.far-out {
  margin-left: 110%;
  color: #2BDE73;
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.login {
  margin-top: 150px;
}

.homeChallenge {
  background-color: red;
  border-radius: 14px;
}