<h1>About</h1>

<div class="pure-g">
<div class="pure-u-1-24"></div>
  <div class="black pure-u-10-24">
    <h2>Rules</h2>
    <p>Each week</p>
  </div>
  <div class="pure-u-2-24"></div>
  <div class="white pure-u-10-24">
    <h2>Uploading Images</h2>
  </div>
  <div class="pure-u-1-24"></div>
</div>