
<div class="pure-g challengehome">
  <div class="pure-u-6-24"><p></p></div>
  <div class="pure-u-12-24">
    <a class="button-secondary pure-button" href="/challenges/<%= @challenge.id %>">
      <h2><%= @challenge.name %></h2>
      <p><%= @challenge.information %></p>  
    </a> 
  </div>
  <div class="pure-u-6-24"><p></p></div>
</div>

<div class="pure-g rules">
<div class="pure-u-1-24"></div>
  <div class="black pure-u-10-24">
    <h2>Rules</h2>
    <p>Each week</p>
  </div>
  <div class="pure-u-2-24"></div>
  <div class="white pure-u-10-24">
    <h2>Uploading Images</h2>
  </div>
  <div class="pure-u-1-24"></div>
</div>
